<div class="flex flex-col justify-center items-center h-screen">
  <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
    Get into web3
  </div>
  <H2> {{ selectedAccount }}</H2>

  <H2> {{ balance }}</H2>

  <div class="flex flex-col p-3">
    <button class="bg-orange-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" (click)="Connect()" >
      Connect your wallet
    </button>
    <br />
    <button class="bg-orange-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" (click)="Balance()" >
      Balance
    </button>
    <br />
    <button class="bg-orange-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" (click)="ConnectToContract()" >
      Connect To Contract
    </button>

    <div *ngIf="tokenMinted">Token minted successfully </div>
    <div *ngIf="!tokenMinted"><button class="bg-orange-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" (click)="MintToken()">Mint Token </button> </div>
    <br />
  </div>

</div>
